<!-- <p>details works!</p> -->
<app-header></app-header>
<div class="container mt-5">
  <div class="row">
    <div class="col">
           <div class="card" style="width: 600px;">
             <div class="card-header">
               <h5>{{empObj.name}}</h5>
            </div>
            <div class="card-body bg-info">
              <h6></h6>
              <h6>{{empObj.status}}</h6>
              <h6>{{empObj.department}}</h6>
               <h6>{{empObj.mobileno}}</h6>
               <h6>{{empObj.emailid}}</h6>
               <h6>{{empObj.createdBy}}</h6>
               <h6>{{empObj.createdDate}}</h6>
               <h6>{{empObj.updatedBy}}</h6>
               <h6>{{empObj.updatedDate}}</h6>
               <h6>{{empObj.salary}}</h6>
               <h6>{{empObj.country.cname}}</h6>
            </div>
            <div class="card-footer bg-secondary">
                <button routerLink="" class="btn btn-warning">Home</button>
            </div>
           </div>
    </div>
  </div>
</div>
